# APsystems OpenAPI
APSYSTEMS_APP_ID=
APSYSTEMS_APP_SECRET=

# WhatsApp - Evolution API
WHATSAPP_API_URL=
WHATSAPP_API_KEY=
WHATSAPP_DEST_NUMBER=

# Google Apps Script
GOOGLE_SCRIPT_URL=
GOOGLE_SCRIPT_API_KEY=
